
<nav id= "index-nav">
    <div class = "index-wrapper">
        <% @posts.each do |post|%>
            <span class = "user-name">Muhsin Khalif</span>
            <%= link_to image_tag( post.image.url(:medium), class: "responsive-image") %>
            <p class: "caption"><%= post.caption%></p> 
        <%end%>
    </div>
</nav>

