
<nav id= "index-nav">
    <div class = "index-wrapper">
        <% @posts.each do |post|%>
           <%= render 'post', post: post%>
        <%end%>
                
                
                
    </div>
</nav>

