<div class = "form-wrapper">
    <%= simple_form_for @post, html: { class: 'form', multipart: true } do |f| %>
    
        <div class = "inputs">
            <%= f.input :image %>
        </div>
        
        <div  class = "inputs" > 
            <%= f.input :caption, :input_html => { :class =>  "caption"}, :label => "Caption", :label_html => { :class => "type" } %>

        </div>
      
        <div  class = "inputs">
             <%= f.button :submit, :class => "create" %>
        </div>
       
    <%end%>
</div>

    