/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: 'Roboto', sans-serif;
    background-color:#fafafa;
    margin:0px;
    padding:0px;
}


 /*************HEADER NAV***********/
#mainnav{
    background-color: white;
} 
 #nav-header{
     display: flex;
     justify-content: space-around;
     width: 80%;
     margin: auto;
     height: 70px;
     background:white;
     align-items:center;
 }
.photogram{
    width:30px;
    height:30px;
}
.nav-links{
    text-decoration: none;
    color:#003569;
}
 .nav-lists {
   float:left;
    margin-left: 2px;
    padding: 5px;
    color: #fff;
    font-family: trebuchet ms;
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
    word-wrap:break-word;
}

.right-side> ul {
  list-style-type: none;
}

#logo{
    font-size: 20px;
    padding-left: 15px;
    margin-bottom: 5px;
    color:#003569;

}
/*****************************************************************************************************************/

/*******INDEX-NAV******/

#index-nav{
    display:flex;
    justify-content: center;
}

.index-wrapper{
    width: 40%;
    margin: 0 auto;
    margin-top: 60px;
    background:white;
    height: 60%;


    
}
.user-name{
    order:0;
    display: block;
    height: 10%;
    align-self: center;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    color:#003569;

}
.responsive-image{
    height: 60%;
    width: 100%;
    order:1;
    display: block;
}

.caption{
    order:2;
    display: block;
    height: 5%;
}

/****************FORM*******************/
.form-wrapper{
    height: 60vh;
    /*background:yellow;*/
    width: 60%;
    margin-left: 0px;
    margin-right:0px;
    margin:auto;
    margin-top: 60px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.inputs{
    padding:10px 10px 10px 10px;
    margin:10px 10px 10px 10px;
    display: block;

}

.form{
    /*background:blue;*/
    text-align: center;
}
.create{
    background:#ff8147;
    padding:10px 10px 10px 10px;
    border-radius: 5px;
    border-style: solid;
    margin-right: 60px;
    cursor: pointer;
}
.caption{
    padding-left: 10px;
    padding-right: 10px;
    margin:5px 15px 10px 5px;
    text-align: center;
    width:210px;
    color:#003569;
    border-radius: 3px;
    border-style: solid;
    border-color:#003569;
    height: 25px;
}
.type{
    text-align: center;
    margin-right: 56px;
    color:#003569;
}

